# Project
node_modules
*.sublime-project
*.sublime-workspace

.cache

# Fonts
static/fonts

# Images
static/images/*
!static/images/icons/*

# scss / css
static/css
static/scss
!static/scss/templates

# Sourcemaps
static/sourcemaps/*
!static/sourcemaps
static/sourcemaps/css/*
!static/sourcemaps/css
static/sourcemaps/js/*
!static/sourcemaps/js
